.section {
    height: 40rem;
    width: 100%;
    padding: 5em;
    margin-top: 10rem;
    /* background: url('./img/pexels.jpg')no-repeat;
    background-size: cover; */
    
}


.box1 {
    background:  #76ada0;
    width: 28%;
    height: 90%;
    margin: auto 10rem;
}

.box2 {
    width: 19%;
    height: 60%;
    /* margin: auto 10rem; */
    background: #e6eceb ;
    position: absolute;
    bottom: -14rem;
    left: 16rem;
    
}