.section {
    height: 40rem;
    width: 100%;
    padding: 5em;
    margin-top: 0rem;
    /* background: url('./img/pexels.jpg')no-repeat;
    background-size: cover; */
    
}


.box1 {
    background:  #76ada0;
    width: 28%;
    height: 90%;
    margin: auto 8rem;
}

.box2 {
    width: 19%;
    height: 60%;
    /* margin: auto 10rem; */
    background: #e6eceb ;
    position: absolute;
    bottom: 3.5rem;
    left: 14.5rem;
    
}

.box3{
    position: absolute;
top:195px;
left:260px;
}

.box3 img {
 
    height: 380px; 
}

.box4{
    position: absolute;
    top:300px ; 
    left: 630px;

}
.box4 h3{
    font-size: 67px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
}
.box4 p{
    font-size:24px;
    text-align: justify;
    margin-right: 120px;
line-height: 35px;
    margin-left: 10px;
}