.reminde {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  text-align: center;
}

/* .remind-card {

} */

.divcon1 {
  margin-top: 3rem;
  margin-left: 10px;
  text-align: left;
  align-items: left;
  font-size: large;
}

.delete-bttn {
  align-self: flex-end;
}
